*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-family: EB Garamond;
  background: rgba(210, 224, 239, 1);
  background: -o-linear-gradient(
    -45deg,
    rgba(210, 224, 239, 1) 0%,
    rgba(94, 169, 219, 1) 31.75%
  );
  background: -moz-linear-gradient(
    -45deg,
    rgba(210, 224, 239, 1) 0%,
    rgba(94, 169, 219, 1) 31.75%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(210, 224, 239, 1) 0%,
    rgba(94, 169, 219, 1) 31.75%
  );
  background: linear-gradient(
    -225deg,
    rgba(210, 224, 239, 1) 0%,
    rgba(94, 169, 219, 1) 31.75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d2e0ef", endColorstr="#5ea9db",GradientType=1 );
  height: 100%;
  line-height: 1;
}
textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}
/*--------------------------------------------------------*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1250px;
  margin: 0 auto;
}
/*--------------------------------------------------------*/

.container {
  left: 48%;
  margin: auto -50px;
  position: absolute;
  top: 40%;
}
.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: 0.25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%,
  50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%,
  50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@-webkit-keyframes shadow-l-n {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l 0.425s ease-in-out infinite alternate;
  animation: ball-l 0.425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r 0.425s ease-in-out infinite alternate;
  animation: ball-r 0.425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n 0.425s ease-in-out infinite alternate;
  animation: shadow-l-n 0.425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n 0.425s ease-in-out infinite alternate;
  animation: shadow-r-n 0.425s ease-in-out infinite alternate;
}

.box__container {
  padding-top: 200px;
}
.box--body {
  width: 900px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 100px;
  background-color: aliceblue;
  box-shadow: 10px 10px 15px 5px rgba(255, 255, 255, 0.3);
}
.box-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-bottom: 80px;
}
.box-title::after {
  content: "";
  position: absolute;
  background-color: rgb(94, 169, 219);
  top: 60%;
  left: 30%;
  width: 290px;
  height: 2px;
}
.box-quote {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  font-size: 25px;
}
.box-by-athor {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; /* додаємо, щоб вирівняти по нижньому краю */
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 500px;
}
/* .box-by-athor::after {
  position: absolute;
  content: "";
  background-color: rgb(94, 169, 219);
  width: 20px;
  height: 1px;
  top: 14%;
  left: 87%;
} */
.box--buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.box--buttons__new-quote {
  border-radius: 20px;
  padding: 15px 40px;
  background-color: rgb(94, 169, 219);
  color: aliceblue;
  font-size: 20px;
}
.box--buttons__tweet {
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 40px;
  background-color: rgb(94, 169, 219);
  color: aliceblue;
}
